      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
            html {
              height: 150vh;
          
            }
            body {
                padding: 0;
                margin : 0;
                height : 110vh;
                width : 100vw;
                font-size: 15px;
                font-family: Arial, Helvetica, sans-serif;
                display : flex ;
                align-items: center;
                justify-content:center;
                text-align: center;
               /* color: rgb(255, 255, 255);*/
                color : #fff;
                /*background-color: #fff;*/
                background-image: url(https://telegra.ph/file/3442f5052be429546cc1f.jpg);
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
                background-color: ; /* couleur de fond du body */
                /*filter: brightness(0.5) contrast(2); /* effet sur l'image */
                /*background-blend-mode: multiply;*/ /* mode de fusion avec la couleur de fond */
            }
            footer {
              overflow:hidden;
              height: 20vh;
              width: 100vw;
              display:inline-block;
              padding: 0px;
              margin: -70vh;
              margin-top: 10vh;
              /*background-color: #222;*/
              background-image: url("https://telegra.ph/file/21bab694b466183dccdc1.jpg");
              font-size: 25px;
              background-color: #222;
              position: absolute;
              bottom: 0;
              align-items: center;
              text text-align: center;
              border-top-left-radius: 40px;
              border-top-right-radius: 40px;
              justify-content: center;
            }
    
            .titre {
                margin-bottom : 50px;
                margin-top: -40vh;
            }
    
            .ttre {
                font-size: 55px;
                font-weight: bold;
                text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
                font-style: bold;
                color: #222;
                margin-top: -10vh;
                height: 100%;
                width: 100%;
                margin-bottom: -40vh;
                
            }
    
            .com  {
                font-style: italic;
                color: #222;
            }
    
            .buttons div {
               /* margin-top : 0vh;
                margin-left: 4vw;
                margin-inline-end: 10vw 10vh;
                position: center;
                align-items: center;
                position: absolute;
                max-width: 800px;
                
                gap: 10px;*/
              margin-top : 15vh;
              max-width: 800px;
              display: inline-flex;
              gap: 10px;
                
            }
    
            .buttons button {
                /*border-radius: 10px;
                border-color: blue;
                background-color: black;
                padding: 11px 11px;*/
              border-radius: 10px;
              border-color: 10px solid blue;
              border: 2px solid blue;
              background-color: black;
              padding: 10px 10px;
            }
    
            .buttons a {
                text-decoration: none;
                color:aliceblue ;
                font-family: 'Orbitron', sans-serif;
                
            }
            .buttons1 {
              margin-top : 15vh;
              max-width: 800px;
              display: inline-flex;
              gap: 10px;
            }
            .buttons1 buttons a {
              text-decoration: none;
              color:aliceblue ;
              font-family: 'Orbitron', sans-serif;
            }
            .buttons1 buttons {
              border-radius: 10px;
              border-color: 10px solid blue;
              border: 2px solid blue;
              background-color: black;
              padding: 10px 10px;
            }
            #c1:active {
              background-color: skyblue;
              border: 4px inset darkblue;
              transform: scale(0.8);
            }
            #c2:active {

              background-color: skyblue;

              border: 4px inset darkblue;
              transform: scale(0.8);
            }
            #c3:active {
              background-color: skyblue;
              border: 4px inset darkblue;
              transform: scale(0.8);
            }
            #d1:active {
              background-color: skyblue;
              border: 4px inset darkblue;
              transform: scale(0.8);
            }
            #d2:active {
              background-color: skyblue;
              border: 4px inset darkblue;
              transform: scale(0.8);
            }
            #d3:active {
              background-color: skyblue;
              border: 4px inset darkblue;
              transform: scale(0.8);
            }
    .social-media-links {
    list-style-type: none;
    padding: 0;
}

.social-media-links li {
    display: inline-block;
   
    display:flexbox;
}

.social-media-links i {
    width: 35px; /* Adjust the size as needed */
    height: 35px;
    background-color: #f5f6F0;
    border-radius: 50px;
    text-align: center;
    margin: 5px;
    box-shadow:1px 2px 6px 1px #dcdde1;
    line-height: 35px;
    
    

}
.defil {
  /*margin: 60px 0vw;*/
  margin-bottom: 10vh;
  justify-items: center;
  align-self: center;
  justify-content: center;
  
}
.fa-github{
  color: #333;
}
.fa-telegram{
  color: #305acc;
}
.fa-whatsapp{
  color: #green;
}
.fa-youtube{
  color: #red;
}

.rights {
  align-self: center;
  text-align: center;
  bottom: 1vh;
  margin: 1vh 7vw;
  font-style: italic;
  font-size: 20px;
  padding: 0;
  white-space: nowrap;
  opacity: 0.5;
  position: absolute;
  justify-content: center;
  align-content: center;
  padding: 0;
}
section {
  bottom: 10vh;
  margin: 10vw;
  height: 0;
  position: absolute;
  text-align: justify;
}
.legende {
  margin-top: 0vh;
  font-size: 16px;
  color: 666;
  font-family: Kinsta;
  font-weight: bold;
  font-style: bold;
  filter: brightness(0.7) contrast(7); /* effet sur l'image */

  /*background-blend-mode: multiply; /* mode de fusion avec la couleur de fond */
  
}
.textes {
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
/*@media(min-width:438px;){
      .buttons{
             width:250p;
            display: inline-block;
      }
     
}*/
